<div class="container">
  <app-search-bar></app-search-bar>
  <div *ngIf="basket.products.length !== 0; else naoTemProdutos">
    <h3>Seu carrinho de compras</h3>
    <app-basket-product-list (changeProductQuantity)="updateBasket()"></app-basket-product-list>
    <div class="price">
      <app-calculate-shipping [basket]="basket"></app-calculate-shipping>
      <app-total-price [basket]="basket"></app-total-price>
    </div>
    <div class="button-container">
      <button routerLink="/">Continuar comprando</button>
      <button class="btn-buy" (click)="onCheckout()">Comprar</button>
    </div>
  </div>
  <ng-template  #naoTemProdutos>
    <div class="container-no-products">
      <div class="no-products">
        <h3>Seu carrinho de compras está vazio! :( </h3>
        <a mat-button routerLink="/">Escolher produtos</a>
      </div>
      <img src="/assets/addToCart.svg" alt="">
    </div>
  </ng-template>
</div>
