<footer class="footer ff-inter">
  <div class="container-main">
        <p class="about-text">
          Aqui na Loja Popular, nossa missão é fornecer a você a melhor experiência de compra on-line possível.
          Oferecemos uma ampla seleção de produtos a preços acessíveis, além de envio rápido e confiável para todo o Brasil.
          Se você tiver alguma dúvida ou precisar de ajuda, nossa equipe de atendimento ao cliente está sempre pronta para ajudar.
          <br> <br>Obrigado por escolher a Loja Popular!
        </p>
        <div class="contact">
          <p>compre pelo telefone</p>
          <p class="phone">0800 666 0708</p>
          <p>segunda a sexta das 8 às 18h</p>
        </div>
  </div>
  <p id="credits">Solutis 2023</p>
</footer>
