<form (ngSubmit)="goToProductPage()">
  <div class="app-container d-flex justify-content-center gap-3 rounded">
    <input
      id="search-bar"
      type="text"
      class="form-control"
      [(ngModel)]= "searchTerm"
      [ngbTypeahead]="search"
      [ngModelOptions]="{standalone: true}"
      [inputFormatter]="formatter"
      [placeholder]="texto"
      [resultTemplate]="rt"
      (keydown.enter)="goToProductPage()"
    />
    <button type="submit" class="btn btn-primary active">Buscar</button>
  </div>
</form>
<hr />

<ng-template #rt let-r="result" let-t="term">
  <div class="d-flex gap-3 justify-content-center align-items-center" [routerLink]="['/product', r.id]">
    <img [src]="r.images[0]" class="proportional-img rounded" />
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  </div>
</ng-template>
