<section class="container">
  <h3>Ficha técnica</h3>
  <strong>Nome do Produto</strong>: {{ product?.name }} <br>
  <strong>Marca</strong>: {{ product?.technicalDescription?.brand }} <br>
  <strong>Modelo</strong>: {{ product?.technicalDescription?.model }} <br>
  <strong>Cor</strong>: {{ product?.technicalDescription?.color }} <br>
  <strong>Material</strong>: {{ product?.technicalDescription?.material }} <br>
  <strong>Dimensões</strong>: {{ product?.technicalDescription?.width }} X {{ product?.technicalDescription?.height }} X {{ product?.technicalDescription?.length }}<br>
  <strong>Peso</strong>: {{ product?.technicalDescription?.weight }} <br>
  <strong>Garantia</strong>: {{ product?.technicalDescription?.warranty }} <br>
</section>
