<mat-toolbar color="primary">
  <div class="content">
    <mat-card class="round-card">
      <img src="/assets/goku.png" mat-card-image [routerLink]="['/']" title="Voltar para a home">
    </mat-card>
    <div class="nav-container">
      <div class="button-container">
        <button mat-raised-button (click)="openDialog(1)">Loja popular</button>
        <button mat-raised-button (click)="openDialog(2)">Fale conosco</button>
      </div>
      <div class="link-container">
        <a class="mat-body-2" href="#">Sacola</a>
        <a class="mat-body-2" href="#">Perfil</a>
      </div>
    </div>
  </div>
</mat-toolbar>
