p {
  text-align: justify;
  hyphens: auto;
}

.header{
  display: flex;
  margin: 0px 20px;
  align-items: center;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 0px;
}

span{
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}
