<h1 mat-dialog-title>Sobre Nós</h1>
<mat-dialog-content class="mat-typography">
  Bem-vindo à Loja Popular, o seu destino de compras online preferido! Somos um ecommerce
   dedicado a tornar a sua experiência de compra mais fácil, conveniente e acessível. Nossa jornada
   começa com um compromisso profundo de entender as necessidades dos nossos clientes e oferecer produtos
    de alta qualidade a preços acessíveis. Aqui, queremos contar um pouco mais sobre quem somos e o que representamos.
    <br>

  <h2>Variedade que Encanta:  </h2>
  <p>Nossa missão é simples: proporcionar a todos a oportunidade de adquirir produtos de qualidade
    sem comprometer o orçamento. Acreditamos que o acesso a produtos de alta qualidade não deve ser um privilégio de poucos,
    mas sim um direito de todos. É por isso que trabalhamos incansavelmente para disponibilizar uma ampla gama de produtos que
    atendem às necessidades e desejos de nossos clientes.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
