h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0 0 0.5em;
}

.product__image-price-container{
  display: flex;
  align-items: center;
}
.product__image-price-container p{
  margin: 0;
}

.product__price{
  color: gray;
}

.price__value--emphasis{
  color: black;
  font-size: 1.5rem;
}

.price__value--dashed{
  text-decoration: line-through;
  font-size: 1.25rem;
}

.product__images{
  width: 60%;
}

.product__infos{

  width: 40%;
}

.product__price--discount{
  color: greenyellow;
  font-size: 1rem;
}



.product__image-price-container{
  display: flex;
  align-items: center;
}
.product__image-price-container p{
  margin: 0;
}

.product__price{
  color: gray;
}

.price__value--emphasis{
  color: black;
  font-size: 1.5rem;
}

.price__value--dashed{
  text-decoration: line-through;
  font-size: 1.25rem;
}

.product__images{
  width: 60%;
}

.product__infos{

  width: 40%;
}

.product__price--discount{
  color: greenyellow;
  font-size: 1rem;
}
