<div>
  <app-header></app-header>
  <div class="container">
    <div class="content">CONTEUDO
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni ut qui recusandae, reiciendis quia dolorem facere a excepturi dignissimos voluptatibus delectus! Quod, quidem pariatur placeat possimus dolorem maxime vel minus.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod sit harum dignissimos similique, iusto id voluptate accusantium sunt placeat fuga labore quam quisquam? Ducimus minima ullam ad quam quasi natus?
    </div>
  </div>
</div>
