:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--container{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem 0;
}

app-product-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}