<div class="p-slider__card">
    <div class="p-slider__image-container">
        <img src="{{product?.image}}" alt="{{product?.name}}" class="p-slider__image">
    </div>
    <div class="p-slider__header">
        <a href="" class="p-slider__title">
            {{product?.name}}
        </a>
        <p class="p-slider__description">
            {{product?.description}}
        </p>
        <div class="p-slider__rate">
            <span class="fa fa-star checked" *ngFor="let index of getRateArray(); let i = index"></span>
            <span class="fa fa-star" *ngFor="let index of getUnrateArray(); let i = index"></span>
        </div>
        <p class="p-slider__price">
            <span class="p-slider__price--dashed" *ngIf="checkValidDiscount()">R${{product?.price}}</span><br>
            <span class="p-slider__price--title">R${{priceWithDiscounts}}</span>
            <span>no PIX<br> ou em 6x sem juros no cartão</span>
        </p>    
    </div>
</div>
