<div class="p-slider__card" *ngIf="product" (click)="redirectToProduct()">
    <div class="p-slider__image-container">
        <img src="{{image}}" alt="{{product.name}}" class="p-slider__image">
    </div>
    <div class="p-slider__header">
        <a class="p-slider__title">
            {{product.name}}
        </a>
        <p class="p-slider__description">
            {{product.description}}
        </p>
        <div class="p-slider_rate">
          <app-stars [product]="product"></app-stars>
        </div>
        <p class="p-slider__price">
            <span class="p-slider__price--dashed">R${{priceDefault}}</span><br>
            <span class="p-slider__price--title">R${{pricePix}}</span>
            <span>no PIX<br> {{getInstalment()}}</span>
        </p>
    </div>
</div>
