.p-slider__card{
    height: 100%;
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: column;

    padding: 10px;
}
.p-slider__image-container{
    height: 60%;
}

.p-slider__image{
  width: 150px;
  height: 150px;
}

.p-slider__header{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.p-slider__title{
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
}

.p-slider__title:hover{
    text-decoration: underline;
}

.p-slider__description{
    position: relative;
    font-size: 0.8em;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    text-overflow: wrap;
    text-align: justify;
    width: 100%;
}

.p-slider__rate{
    margin-top: 0.3em;
    font-size: 0.8em;
}

.checked {
    color: orange;
}

.p-slider__price{
    font-size: 0.6em;
    color: gray;
}

.p-slider__price--dashed{
    text-decoration: line-through;
}

.p-slider__price--title{
    font-size: 1.2rem;
    color: black;
}
