<div class="shopping-cart">
  <table>
    <tr class="title">
      <th></th>
      <th>Quantidade</th>
      <th>Valor</th>
    </tr>
      <ng-container *ngFor="let product of basket?.products">
        <tr>
        <td>
          <div class="item">
            <img src="{{product.product.images[0]}}">
            <div class="product-name">
              <p>{{product.product.name}}</p>
              <small>{{product.product.description}}</small>
            </div>
          </div>
        </td>
        <td class="quantity-control">
          <div class="quantity-input">
            <input type="number" class="quantity" value="{{product.quantity}}">
            <div class="d-flex flex-column gap-3 p-2">
              <button type="button" class="btn btn-primary" (click)="increment(product.product)">+</button>
              <button type="button" class="btn btn-primary" (click)="decrement(product.product)">-</button>
            </div>
            <button class="btn btn-danger" (click)="remove(product.product)">Remover</button>
          </div>
        </td>
        <td> R$ {{(product.product.prices[0].value * product.quantity).toFixed(2)}} </td>
      </tr>
      </ng-container>
  </table>

</div>
