i {
  position: relative;
  display: inline-block;

  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: gold;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
span{
  font-size: 0.8rem;
  color: grey;
}
