.container {
  margin: 0;
  padding: 0;
}
.form{
  max-width: 22.5rem;
  border: none;
  padding: 0.625rem 1.75rem;
  border-radius: 25px;
  margin: 5px 0;
  font-size: 1rem;
  color: #000000;
}

.form,
input {
  border: none;
  background-color:#f0f0f0;
  color: #000000;

}

input {
  width: 125px;
  margin-left: 10px;
  border-bottom: 2px solid;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 2px solid;
  outline: 0;
  color: none;
}

p {
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  display: flex;
  align-items: center;
}

.input-header {
  display: flex;
  height: 2.5em;
}

.adress {
  display: flex;
  width: fit-content;
}

.delivery {
  display: flex;
  align-items: center;
  white-space: nowrap;

}

.sedex-delivery {
  display: flex;
  align-items: center;
  white-space: nowrap;

}

button {
  margin-left: 5%;
  border: none;
  background: none;
  white-space: nowrap;
  color: #000000;

}

button:hover {
  color: #000000;
}
button:disabled {
  color: #000000;
}

.price {
  margin-left: 25%;
}
.time{
  font-size: 0.85rem;
  white-space: nowrap;

}
.cep-invalid{
  color: red;
}

.loading-spinner{
  display: flex;
  align-items: center;
  padding: 20px;
}
.loading-spinner p{
  margin: 0 20px;
}
a{
  border-bottom: 1px solid;
}
a:hover{
  color: blue;
}


@media (max-width: 992px) {
  .form {
    max-width: 16.25rem;
    padding: 20px 0px;
  }
  button{
    padding: 5px;
  }
  .input-header {
    display: flex;
    flex-direction: column;
    height: 2.5em;
  }
  div.forget-cep {
    display: flex;
    justify-content: center;
  }
  .input {
    display: flex;
    justify-content: center;

    align-items: center;
  }
  .input-content {
    padding: 15px;
  }
  .time{
    font-size: 0.85rem;
    white-space: normal;

  }
}

@media (max-width: 767px) {
  .form {
    max-width: 11.875rem;
    padding: 15px 0px;
  }
  button{
    padding: 0px;
  }
  div.forget-cep {
    display: flex;
    justify-content: flex-end;
  }
  .adress {
    display: flex;
    width: fit-content;
    font-size: 0.85rem;
  }
  .delivery {
    display: flex;
    align-items: center;
    white-space: normal;
    font-size: 0.8rem;

  }

  .sedex-delivery {
    display: flex;
    align-items: center;
    white-space: normal;
    font-size: 0.8rem;
  }

  .price, .time{
    font-size: 0.7rem;
  }
}
