

<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>10 seconds between slides...</h3>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>No mouse events...</h3>
			<p>This carousel doesn't pause or resume on mouse events</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>No keyboard...</h3>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[3]" alt="Random fourth slide" />
		</div>
		<div class="carousel-caption">
			<h3>And no wrap after last slide.</h3>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
</ngb-carousel>








<!-- <div class="carousel-container">
  <div
    class="item"
    [style.backgroundImage]="
      'url(' + images[indexActiveImage] + ')'
    ">
    <div class="control-btn">
      <button
        *ngFor="let imagem of images; index as i"
        [class.active]="i === indexActiveImage"
        (click)="stopTimer(); activeImage(i)"></button>
    </div>
</div>

carrega as imagens junto com o html para evitar delay
<img
*ngFor="let image of images"
[src]="image"
width="1"
height="1"
style="opacity: 0; position: fixed"
/>

</div> -->
